{
  "openapi": "3.0.0",
  "info": {
    "title": "Telegram API Service",
    "description": "A comprehensive Telegram API service built with TypeScript and the telegram (gramjs) library for real MTProto integration. Provides access to all major Telegram operations including messaging, media, payments, channels, and user management. All endpoints use header-based authentication for security. Accepts credentials from any Telegram account type.",
    "version": "2.2.0",
    "contact": {
      "name": "API Support",
      "email": "support@example.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://telegram-api.aso.market",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development server"
    }
  ],
  "security": [
    {
      "TelegramAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "TelegramAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Id",
        "description": "Telegram API credentials passed via headers"
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the operation was successful"
          },
          "error": {
            "type": "string",
            "description": "Error message if operation failed"
          }
        }
      },
      "TelegramHeaders": {
        "type": "object",
        "required": [
          "X-Api-Id",
          "X-Api-Hash",
          "X-Session-String",
          "X-User-Id"
        ],
        "properties": {
          "X-Api-Id": {
            "type": "string",
            "description": "Telegram API ID"
          },
          "X-Api-Hash": {
            "type": "string",
            "description": "Telegram API Hash"
          },
          "X-Session-String": {
            "type": "string",
            "description": "Telegram session string"
          },
          "X-User-Id": {
            "type": "string",
            "description": "Telegram user ID"
          }
        }
      },
      "ValidateSessionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the operation was successful"
          },
          "isValid": {
            "type": "boolean",
            "description": "Whether the session is valid"
          },
          "userInfo": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "User ID"
              },
              "username": {
                "type": "string",
                "description": "Username (without @)"
              },
              "first_name": {
                "type": "string",
                "description": "First name"
              },
              "last_name": {
                "type": "string",
                "description": "Last name"
              },
              "is_bot": {
                "type": "boolean",
                "description": "Whether the user is a bot"
              },
              "is_premium": {
                "type": "boolean",
                "description": "Whether the user has Telegram Premium"
              },
              "phone": {
                "type": "string",
                "description": "Phone number"
              },
              "about": {
                "type": "string",
                "description": "Bio/about text"
              },
              "profile_photo": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Photo ID"
                  },
                  "dc_id": {
                    "type": "number",
                    "description": "Data center ID"
                  }
                }
              },
              "common_chats_count": {
                "type": "number",
                "description": "Number of common chats"
              },
              "blocked": {
                "type": "boolean",
                "description": "Whether the user is blocked"
              },
              "can_pin_message": {
                "type": "boolean",
                "description": "Whether the user can pin messages"
              },
              "has_private_forwards": {
                "type": "boolean",
                "description": "Whether the user has private forwards enabled"
              },
              "settings": {
                "type": "object",
                "properties": {
                  "report_spam": {
                    "type": "boolean"
                  },
                  "add_contact": {
                    "type": "boolean"
                  },
                  "block_contact": {
                    "type": "boolean"
                  },
                  "share_contact": {
                    "type": "boolean"
                  },
                  "report_geo": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "error": {
            "type": "string",
            "description": "Error message if operation failed"
          }
        },
        "example": {
          "success": true,
          "isValid": true,
          "userInfo": {
            "id": "123456789",
            "username": "example_user",
            "first_name": "John",
            "last_name": "Doe",
            "is_bot": false,
            "is_premium": true,
            "phone": "+1234567890",
            "about": "Software developer",
            "profile_photo": {
              "id": "1234567890123456789",
              "dc_id": 2
            },
            "common_chats_count": 5,
            "blocked": false,
            "can_pin_message": true,
            "has_private_forwards": false,
            "settings": {
              "report_spam": true,
              "add_contact": true,
              "block_contact": true,
              "share_contact": false,
              "report_geo": false
            }
          }
        }
      },
      "GetUsersResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "users": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                },
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                },
                "is_bot": {
                  "type": "boolean"
                },
                "is_premium": {
                  "type": "boolean"
                },
                "phone": {
                  "type": "string"
                },
                "about": {
                  "type": "string"
                },
                "profile_photo": {
                  "type": "object"
                },
                "common_chats_count": {
                  "type": "number"
                },
                "blocked": {
                  "type": "boolean"
                }
              }
            }
          },
          "error": {
            "type": "string"
          }
        }
      },
      "UpdateProfileResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "username": {
                "type": "string"
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "about": {
                "type": "string"
              }
            }
          },
          "error": {
            "type": "string"
          }
        }
      },
      "SendMessageResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the operation was successful"
          },
          "message": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "Message ID"
              },
              "text": {
                "type": "string",
                "description": "Message text"
              },
              "date": {
                "type": "number",
                "description": "Message timestamp"
              },
              "fromId": {
                "type": "string",
                "description": "Sender user ID"
              },
              "peerId": {
                "type": "string",
                "description": "Chat/peer ID"
              },
              "media": {
                "type": "object",
                "description": "Media object if present",
                "nullable": true
              },
              "replyTo": {
                "type": "object",
                "description": "Reply to message info",
                "nullable": true
              }
            }
          },
          "error": {
            "type": "string",
            "description": "Error message if operation failed"
          }
        }
      },
      "GetMessagesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the operation was successful"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "description": "Message ID"
                },
                "text": {
                  "type": "string",
                  "description": "Message text"
                },
                "date": {
                  "type": "number",
                  "description": "Message timestamp"
                },
                "fromId": {
                  "type": "string",
                  "description": "Sender user ID"
                },
                "peerId": {
                  "type": "string",
                  "description": "Chat/peer ID"
                },
                "media": {
                  "type": "object",
                  "description": "Media object if present",
                  "nullable": true
                },
                "replyTo": {
                  "type": "object",
                  "description": "Reply to message info",
                  "nullable": true
                }
              }
            }
          },
          "error": {
            "type": "string",
            "description": "Error message if operation failed"
          }
        }
      },
      "EditMessageResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the operation was successful"
          },
          "message": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "Message ID"
              },
              "text": {
                "type": "string",
                "description": "Message text"
              },
              "date": {
                "type": "number",
                "description": "Message timestamp"
              },
              "fromId": {
                "type": "string",
                "description": "Sender user ID"
              },
              "peerId": {
                "type": "string",
                "description": "Chat/peer ID"
              },
              "media": {
                "type": "object",
                "description": "Media object if present",
                "nullable": true
              },
              "replyTo": {
                "type": "object",
                "description": "Reply to message info",
                "nullable": true
              }
            }
          },
          "error": {
            "type": "string",
            "description": "Error message if operation failed"
          }
        }
      },
      "SearchChannelsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "participants_count": {
                  "type": "number"
                },
                "is_verified": {
                  "type": "boolean"
                },
                "is_scam": {
                  "type": "boolean"
                },
                "is_fake": {
                  "type": "boolean"
                },
                "photo": {
                  "type": "object"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "channel",
                    "supergroup",
                    "group"
                  ]
                }
              }
            }
          },
          "error": {
            "type": "string"
          }
        }
      },
      "GetChannelInfoResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "channel": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "username": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "participants_count": {
                "type": "number"
              },
              "is_verified": {
                "type": "boolean"
              },
              "is_scam": {
                "type": "boolean"
              },
              "is_fake": {
                "type": "boolean"
              },
              "photo": {
                "type": "object"
              },
              "type": {
                "type": "string",
                "enum": [
                  "channel",
                  "supergroup",
                  "group"
                ]
              },
              "date": {
                "type": "number"
              },
              "version": {
                "type": "number"
              },
              "admin_rights": {
                "type": "object"
              },
              "default_banned_rights": {
                "type": "object"
              }
            }
          },
          "error": {
            "type": "string"
          }
        },
        "example": {
          "success": true,
          "channel": {
            "id": "1234567890",
            "title": "Example Channel",
            "username": "example_channel",
            "description": "This is an example channel",
            "participants_count": 1500,
            "is_verified": true,
            "is_scam": false,
            "is_fake": false,
            "photo": {
              "id": "1234567890123456789",
              "dc_id": 2
            },
            "type": "channel",
            "date": 1640995200,
            "version": 1,
            "admin_rights": null,
            "default_banned_rights": {
              "view_messages": false,
              "send_messages": true,
              "send_media": true,
              "send_stickers": true,
              "send_gifs": true,
              "send_games": true,
              "send_inline": true,
              "embed_links": true,
              "send_polls": true,
              "change_info": false,
              "invite_users": false,
              "pin_messages": false
            }
          }
        }
      },
      "GetSimilarChannelsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "participants_count": {
                  "type": "number"
                },
                "is_verified": {
                  "type": "boolean"
                },
                "is_scam": {
                  "type": "boolean"
                },
                "is_fake": {
                  "type": "boolean"
                },
                "photo": {
                  "type": "object"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "channel",
                    "supergroup",
                    "group"
                  ]
                }
              }
            }
          },
          "error": {
            "type": "string"
          }
        }
      },
      "GetDialogsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "dialogs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "user",
                    "chat",
                    "channel",
                    "supergroup"
                  ]
                },
                "participants_count": {
                  "type": "number"
                },
                "unread_count": {
                  "type": "number"
                },
                "last_message": {
                  "type": "object"
                },
                "photo": {
                  "type": "object"
                }
              }
            }
          },
          "error": {
            "type": "string"
          }
        }
      },
      "CreateGroupResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "chat": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "participants_count": {
                "type": "number"
              },
              "date": {
                "type": "number"
              },
              "version": {
                "type": "number"
              },
              "migrated_to": {
                "type": "object"
              },
              "photo": {
                "type": "object"
              },
              "admin_rights": {
                "type": "object"
              },
              "default_banned_rights": {
                "type": "object"
              }
            }
          },
          "error": {
            "type": "string"
          }
        },
        "example": {
          "success": true,
          "chat": {
            "id": "1234567890",
            "title": "Test Group",
            "participants_count": 2,
            "date": 1640995200,
            "version": 1,
            "migrated_to": null,
            "photo": {
              "className": "ChatPhotoEmpty"
            },
            "admin_rights": null,
            "default_banned_rights": {
              "view_messages": false,
              "send_messages": true,
              "send_media": true,
              "send_stickers": true,
              "send_gifs": true,
              "send_games": true,
              "send_inline": true,
              "embed_links": true,
              "send_polls": true,
              "change_info": false,
              "invite_users": false,
              "pin_messages": false
            }
          }
        }
      },
      "ArchiveChatResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "SendPhotoResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number"
              },
              "text": {
                "type": "string"
              },
              "date": {
                "type": "number"
              },
              "from_id": {
                "type": "string"
              },
              "peer_id": {
                "type": "string"
              },
              "media": {
                "type": "object",
                "properties": {
                  "photo": {
                    "type": "object"
                  },
                  "caption": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "error": {
            "type": "string"
          }
        }
      },
      "SendDocumentResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number"
              },
              "text": {
                "type": "string"
              },
              "date": {
                "type": "number"
              },
              "from_id": {
                "type": "string"
              },
              "peer_id": {
                "type": "string"
              },
              "media": {
                "type": "object",
                "properties": {
                  "document": {
                    "type": "object"
                  },
                  "caption": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "error": {
            "type": "string"
          }
        }
      },
      "DownloadMediaResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "file": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "size": {
                "type": "number"
              },
              "mime_type": {
                "type": "string"
              },
              "data": {
                "type": "string",
                "description": "Base64 encoded file data"
              }
            }
          },
          "error": {
            "type": "string"
          }
        }
      },
      "GetPaymentFormResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "form": {
            "type": "object",
            "properties": {
              "form_id": {
                "type": "string"
              },
              "invoice": {
                "type": "object"
              },
              "can_save_credentials": {
                "type": "boolean"
              },
              "password_missing": {
                "type": "boolean"
              },
              "provider_id": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "native_provider": {
                "type": "string"
              },
              "native_params": {
                "type": "object"
              }
            }
          },
          "error": {
            "type": "string"
          }
        }
      },
      "CheckGiftCodeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "gift_code": {
            "type": "object",
            "properties": {
              "slug": {
                "type": "string"
              },
              "from_id": {
                "type": "string"
              },
              "to_id": {
                "type": "string"
              },
              "used_date": {
                "type": "number"
              },
              "gift": {
                "type": "object"
              }
            }
          },
          "error": {
            "type": "string"
          }
        }
      },
      "GetMessageHistoryResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the operation was successful"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "description": "Message ID"
                },
                "text": {
                  "type": "string",
                  "description": "Message text"
                },
                "date": {
                  "type": "number",
                  "description": "Message timestamp"
                },
                "fromId": {
                  "type": "string",
                  "description": "Sender user ID"
                },
                "peerId": {
                  "type": "string",
                  "description": "Chat/peer ID"
                },
                "media": {
                  "type": "object",
                  "description": "Media object if present",
                  "nullable": true
                },
                "replyTo": {
                  "type": "object",
                  "description": "Reply to message info",
                  "nullable": true
                }
              }
            }
          },
          "error": {
            "type": "string",
            "description": "Error message if operation failed"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Session validation and user authentication"
    },
    {
      "name": "Users",
      "description": "User management and profile operations"
    },
    {
      "name": "Channels",
      "description": "Channel operations and management"
    },
    {
      "name": "Chats",
      "description": "Chat and group management"
    },
    {
      "name": "Messages",
      "description": "Message sending, forwarding, and management"
    },
    {
      "name": "Media",
      "description": "Media upload, download, and management"
    },
    {
      "name": "Payments",
      "description": "Payment processing and gift codes"
    }
  ],
  "paths": {
    "/api/validate-session": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Validate Telegram Session",
        "description": "Validates a Telegram session and returns detailed user information",
        "operationId": "validateSession",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {}
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid Telegram credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/get-users": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Get Users",
        "description": "Get information about multiple users by their IDs",
        "operationId": "getUsers",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ids"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of user IDs to retrieve"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUsersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid Telegram credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/get-user-photos": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Get User Photos",
        "description": "Get photos from a user's profile",
        "operationId": "getUserPhotos",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "default": 10,
                    "description": "Number of photos to retrieve"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {}
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid Telegram credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/get-blocked-users": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Get Blocked Users",
        "description": "Get list of blocked users",
        "operationId": "getBlockedUsers",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "default": 100,
                    "description": "Number of blocked users to retrieve"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {}
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid Telegram credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/update-profile": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Update Profile",
        "description": "Update user profile information",
        "operationId": "updateProfile",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "description": "First name"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Last name"
                  },
                  "about": {
                    "type": "string",
                    "description": "About/bio text"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid Telegram credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/channels/get-similar-channels": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Get Similar Channels",
        "description": "Get channels similar to a specified channel",
        "operationId": "getSimilarChannels",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channelId"
                ],
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "Channel ID to find similar channels for"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 10,
                    "description": "Number of similar channels to retrieve"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSimilarChannelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid Telegram credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/channels/get-channel-info": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Get Channel Info",
        "description": "Get detailed information about a channel",
        "operationId": "getChannelInfo",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channelId"
                ],
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "Channel ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid Telegram credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/channels/get-channel-participants": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Get Channel Participants",
        "description": "Get participants of a channel",
        "operationId": "getChannelParticipants",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channelId"
                ],
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "Channel ID"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 100,
                    "description": "Number of participants to retrieve"
                  },
                  "filter": {
                    "type": "string",
                    "enum": [
                      "all",
                      "admins",
                      "kicked",
                      "bots",
                      "recent"
                    ],
                    "default": "all",
                    "description": "Filter type for participants"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {}
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid Telegram credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/channels/search-channels": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Search Channels",
        "description": "Search for channels by query",
        "operationId": "searchChannels",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 20,
                    "description": "Number of results to retrieve"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchChannelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid Telegram credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/channels/join-channel": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Join Channel",
        "description": "Join a channel",
        "operationId": "joinChannel",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channelId"
                ],
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "Channel ID to join"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {}
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid Telegram credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/channels/leave-channel": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Leave Channel",
        "description": "Leave a channel",
        "operationId": "leaveChannel",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channelId"
                ],
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "Channel ID to leave"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {}
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid Telegram credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/chats/get-dialogs": {
      "post": {
        "tags": [
          "Chats"
        ],
        "summary": "Get Dialogs",
        "description": "Get all dialogs/chats",
        "operationId": "getDialogs",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "default": 100,
                    "description": "Number of dialogs to retrieve"
                  },
                  "offsetDate": {
                    "type": "integer",
                    "description": "Offset date for pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDialogsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid Telegram credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/chats/create-group": {
      "post": {
        "tags": [
          "Chats"
        ],
        "summary": "Create Group",
        "description": "Create a new group chat",
        "operationId": "createGroup",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "users"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Group title"
                  },
                  "users": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of user IDs to add to the group"
                  },
                  "about": {
                    "type": "string",
                    "description": "Group description"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateGroupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid Telegram credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/chats/archive-chat": {
      "post": {
        "tags": [
          "Chats"
        ],
        "summary": "Archive Chat",
        "description": "Archive or unarchive a chat",
        "operationId": "archiveChat",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chatId"
                ],
                "properties": {
                  "chatId": {
                    "type": "string",
                    "description": "Chat ID"
                  },
                  "archive": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to archive (true) or unarchive (false)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveChatResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid Telegram credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/chats/mute-chat": {
      "post": {
        "tags": [
          "Chats"
        ],
        "summary": "Mute Chat",
        "description": "Mute or unmute a chat",
        "operationId": "muteChat",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chatId"
                ],
                "properties": {
                  "chatId": {
                    "type": "string",
                    "description": "Chat ID"
                  },
                  "muteUntil": {
                    "oneOf": [
                      {
                        "type": "integer",
                        "description": "Unix timestamp"
                      },
                      {
                        "type": "string",
                        "enum": [
                          "forever"
                        ],
                        "description": "Mute forever"
                      }
                    ],
                    "description": "Mute until timestamp or 'forever'"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {}
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid Telegram credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/chats/get-common-chats": {
      "post": {
        "tags": [
          "Chats"
        ],
        "summary": "Get Common Chats",
        "description": "Get common chats with a user",
        "operationId": "getCommonChats",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "default": 100,
                    "description": "Number of chats to retrieve"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {}
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid Telegram credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/chats/report-chat": {
      "post": {
        "tags": [
          "Chats"
        ],
        "summary": "Report Chat",
        "description": "Report a chat for violations",
        "operationId": "reportChat",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chatId",
                  "reason"
                ],
                "properties": {
                  "chatId": {
                    "type": "string",
                    "description": "Chat ID"
                  },
                  "reason": {
                    "type": "string",
                    "enum": [
                      "spam",
                      "violence",
                      "pornography",
                      "child_abuse",
                      "copyright",
                      "illegal_drugs",
                      "personal_details",
                      "other"
                    ],
                    "description": "Report reason"
                  },
                  "comment": {
                    "type": "string",
                    "description": "Additional comment"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {}
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid Telegram credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/send-message": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send Message",
        "description": "Send a message to a chat",
        "operationId": "sendMessage",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chatId",
                  "message"
                ],
                "properties": {
                  "chatId": {
                    "type": "string",
                    "description": "Chat ID"
                  },
                  "message": {
                    "type": "string",
                    "description": "Message text"
                  },
                  "replyTo": {
                    "type": "integer",
                    "description": "Message ID to reply to"
                  },
                  "parseMode": {
                    "type": "string",
                    "description": "Parse mode for message formatting"
                  },
                  "linkPreview": {
                    "type": "boolean",
                    "default": true,
                    "description": "Enable link preview"
                  },
                  "silent": {
                    "type": "boolean",
                    "default": false,
                    "description": "Send silently"
                  },
                  "scheduleDate": {
                    "type": "integer",
                    "description": "Schedule message for later (Unix timestamp)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid Telegram credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/forward-messages": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Forward Messages",
        "description": "Forward messages from one chat to another",
        "operationId": "forwardMessages",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fromChatId",
                  "toChatId",
                  "messageIds"
                ],
                "properties": {
                  "fromChatId": {
                    "type": "string",
                    "description": "Source chat ID"
                  },
                  "toChatId": {
                    "type": "string",
                    "description": "Destination chat ID"
                  },
                  "messageIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Array of message IDs to forward"
                  },
                  "silent": {
                    "type": "boolean",
                    "default": false,
                    "description": "Forward silently"
                  },
                  "dropAuthor": {
                    "type": "boolean",
                    "default": false,
                    "description": "Remove author information"
                  },
                  "dropMediaCaptions": {
                    "type": "boolean",
                    "default": false,
                    "description": "Remove media captions"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {}
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid Telegram credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/delete-messages": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Delete Messages",
        "description": "Delete messages from a chat",
        "operationId": "deleteMessages",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chatId",
                  "messageIds"
                ],
                "properties": {
                  "chatId": {
                    "type": "string",
                    "description": "Chat ID"
                  },
                  "messageIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Array of message IDs to delete"
                  },
                  "revoke": {
                    "type": "boolean",
                    "default": true,
                    "description": "Revoke messages for all users"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {}
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid Telegram credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/pin-message": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Pin Message",
        "description": "Pin or unpin a message in a chat",
        "operationId": "pinMessage",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chatId",
                  "messageId"
                ],
                "properties": {
                  "chatId": {
                    "type": "string",
                    "description": "Chat ID"
                  },
                  "messageId": {
                    "type": "integer",
                    "description": "Message ID to pin"
                  },
                  "silent": {
                    "type": "boolean",
                    "default": false,
                    "description": "Pin silently"
                  },
                  "unpin": {
                    "type": "boolean",
                    "default": false,
                    "description": "Unpin the message"
                  },
                  "pmOneside": {
                    "type": "boolean",
                    "default": false,
                    "description": "Pin for one side only"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {}
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required headers or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
[...]
