{
  "openapi": "3.0.0",
  "info": {
    "title": "Telegram API Service",
    "version": "2.3.0",
    "description": "Comprehensive Telegram API service with automated documentation generation"
  },
  "servers": [
    {
      "url": "https://telegram-api.aso.market",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "channels",
      "description": "Channels operations"
    },
    {
      "name": "chats",
      "description": "Chats operations"
    },
    {
      "name": "docs",
      "description": "Docs operations"
    },
    {
      "name": "media",
      "description": "Media operations"
    },
    {
      "name": "messages",
      "description": "Messages operations"
    },
    {
      "name": "general",
      "description": "General operations"
    },
    {
      "name": "payment",
      "description": "Payment operations"
    },
    {
      "name": "users",
      "description": "Users operations"
    }
  ],
  "paths": {
    "/api/channels/get-channel-info": {
      "post": {
        "tags": [
          "channels"
        ],
        "summary": "Get Channel Info",
        "description": "Get Channel Info",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/channels/get-channel-participants": {
      "post": {
        "tags": [
          "channels"
        ],
        "summary": "Get Channel Participants",
        "description": "Get Channel Participants",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/channels/get-similar-channels": {
      "post": {
        "tags": [
          "channels"
        ],
        "summary": "Get Similar Channels",
        "description": "Get Similar Channels",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSimilarChannelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/channels/join-channel": {
      "post": {
        "tags": [
          "channels"
        ],
        "summary": "Join Channel",
        "description": "Join Channel",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/channels/leave-channel": {
      "post": {
        "tags": [
          "channels"
        ],
        "summary": "Leave Channel",
        "description": "Leave Channel",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/channels/search-channels": {
      "post": {
        "tags": [
          "channels"
        ],
        "summary": "Search Channels",
        "description": "Search Channels",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchChannelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/chats/archive-chat": {
      "post": {
        "tags": [
          "chats"
        ],
        "summary": "Archive Chat",
        "description": "Archive Chat",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveChatResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/chats/clear-history": {
      "post": {
        "tags": [
          "chats"
        ],
        "summary": "Clear History",
        "description": "Clear History",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/chats/create-group": {
      "post": {
        "tags": [
          "chats"
        ],
        "summary": "Create Group",
        "description": "Create Group",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateGroupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/chats/delete-chat": {
      "post": {
        "tags": [
          "chats"
        ],
        "summary": "Delete Chat",
        "description": "Delete Chat",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/chats/get-chat-admins": {
      "post": {
        "tags": [
          "chats"
        ],
        "summary": "Get Chat Admins",
        "description": "Get Chat Admins",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/chats/get-dialogs": {
      "post": {
        "tags": [
          "chats"
        ],
        "summary": "Get Dialogs",
        "description": "Get Dialogs",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDialogsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/chats/mute-chat": {
      "post": {
        "tags": [
          "chats"
        ],
        "summary": "Mute Chat",
        "description": "Mute Chat",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/chats/report-chat": {
      "post": {
        "tags": [
          "chats"
        ],
        "summary": "Report Chat",
        "description": "Report Chat",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/docs/auto-generated": {
      "post": {
        "tags": [
          "docs"
        ],
        "summary": "Auto Generated",
        "description": "Auto Generated",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/docs/redoc-auto": {
      "post": {
        "tags": [
          "docs"
        ],
        "summary": "Redoc Auto",
        "description": "Redoc Auto",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/docs/swagger-auto": {
      "post": {
        "tags": [
          "docs"
        ],
        "summary": "Swagger Auto",
        "description": "Swagger Auto",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/media/download-media": {
      "post": {
        "tags": [
          "media"
        ],
        "summary": "Download Media",
        "description": "Download Media",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadMediaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/media/get-chat-photo": {
      "post": {
        "tags": [
          "media"
        ],
        "summary": "Get Chat Photo",
        "description": "Get Chat Photo",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/media/send-album": {
      "post": {
        "tags": [
          "media"
        ],
        "summary": "Send Album",
        "description": "Send Album",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/media/send-document": {
      "post": {
        "tags": [
          "media"
        ],
        "summary": "Send Document",
        "description": "Send Document",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendDocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/media/send-photo": {
      "post": {
        "tags": [
          "media"
        ],
        "summary": "Send Photo",
        "description": "Send Photo",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendPhotoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/media/send-sticker": {
      "post": {
        "tags": [
          "media"
        ],
        "summary": "Send Sticker",
        "description": "Send Sticker",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/media/send-video": {
      "post": {
        "tags": [
          "media"
        ],
        "summary": "Send Video",
        "description": "Send Video",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/media/send-voice": {
      "post": {
        "tags": [
          "media"
        ],
        "summary": "Send Voice",
        "description": "Send Voice",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/media/set-chat-photo": {
      "post": {
        "tags": [
          "media"
        ],
        "summary": "Set Chat Photo",
        "description": "Set Chat Photo",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/delete-messages": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Delete Messages",
        "description": "Delete Messages",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/edit-message": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Edit Message",
        "description": "Edit Message",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/forward-messages": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Forward Messages",
        "description": "Forward Messages",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/get-message-history": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Get Message History",
        "description": "Get Message History",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessageHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/get-message-reactions": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Get Message Reactions",
        "description": "Get Message Reactions",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/get-messages": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Get Messages",
        "description": "Get Messages",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/mark-as-read": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Mark As Read",
        "description": "Mark As Read",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/pin-message": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Pin Message",
        "description": "Pin Message",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/send-message": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Send Message",
        "description": "Send a message to a user or channel",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chatId",
                  "message"
                ],
                "properties": {
                  "chatId": {
                    "type": "string",
                    "description": "- Chat ID to send message to"
                  },
                  "message": {
                    "type": "string",
                    "description": "- Message text to send"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/send-typing": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Send Typing",
        "description": "Send Typing",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/set-message-reaction": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Set Message Reaction",
        "description": "Set Message Reaction",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/openapi-comprehensive": {
      "post": {
        "tags": [
          "general"
        ],
        "summary": "Openapi Comprehensive",
        "description": "Openapi Comprehensive",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/payment/check-gift-code": {
      "post": {
        "tags": [
          "payment"
        ],
        "summary": "Check Gift Code",
        "description": "Check Gift Code",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckGiftCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/payment/get-giveaway-info": {
      "post": {
        "tags": [
          "payment"
        ],
        "summary": "Get Giveaway Info",
        "description": "Get Giveaway Info",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/payment/get-payment-form": {
      "post": {
        "tags": [
          "payment"
        ],
        "summary": "Get Payment Form",
        "description": "Get Payment Form",
        "security": [
          {
            "TelegramAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Api-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API ID"
          },
          {
            "name": "X-Api-Hash",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram API Hash"
          },
          {
            "name": "X-Session-String",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram session string"
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Telegram user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentFormResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
[...]
